<form (ngSubmit)="onSubmit(albumForm)" #albumForm="ngForm">

	<div class="form-group">
		<label for="shortName">Short Name</label>
		<input type="text" class="form-control" id="shortName"
		required
		[(ngModel)]="album.shortName" name="shortName"
		#shortName="ngModel">
		<div [hidden]="shortName.valid || shortName.pristine" class="alert alert-danger">
			<div *ngIf="shortName.errors && shortName.errors.required">
				Short Name field is required
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="longName">Long Name</label>
		<input type="text" class="form-control" id="longName"
		required
		[(ngModel)]="album.longName" name="longName"
		#longName="ngModel">
		<div [hidden]="longName.valid || longName.pristine" class="alert alert-danger">
			<div *ngIf="longName.errors && longName.errors.required">
				Long Name field is required
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for ="active">Active</label>
		<input type="checkbox" class="form-control" id="active"
		[(ngModel)]="album.active" name="active" 
		#active="ngModel">
	</div>

	<div class="form-group">
		<label for="year">Year</label>
		<input type="text" 
			class="form-control" 
			id="year" name="year"
			[(ngModel)]="album.year"  
			#year="ngModel" 
			required pattern="[0-9]*">
		<div [hidden]="year.valid || year.pristine" class="alert alert-danger" *ngIf="year.errors && year.errors.required">
			Year field is required
		</div>
		<div [hidden]="year.valid || year.pristine" class="alert alert-danger" *ngIf="year.errors && year.errors.pattern">
			Year value must be numeric
		</div>
	</div>

	<div class="form-group">
		<label for="minPosition">Min Sticker Position</label>
		<input type="text" 
			class="form-control" 
			id="minPosition" name="minPosition"
			[(ngModel)]="album.minPosition"  
			#minPosition="ngModel" 
			required pattern="[0-9]*"
			[max-value-to-validate]="album.maxPosition">
		<div [hidden]="minPosition.valid || minPosition.pristine" class="alert alert-danger" *ngIf="minPosition.errors && minPosition.errors.required">
			Min Sticker Position field is required
		</div>
		<div [hidden]="minPosition.valid || minPosition.pristine" class="alert alert-danger" *ngIf="minPosition.errors && minPosition.errors.pattern">
			Min Sticker Position value must be numeric
		</div>
		<div [hidden]="minPosition.valid || minPosition.pristine" class="alert alert-danger" *ngIf="minPosition.errors && minPosition.errors.textNotLessThan && !minPosition.errors.pattern">
			Min less than max was expected
		</div>
	</div>

	<div class="form-group">
		<label for="maxPosition">Max Sticker Position</label>
		<input type="text" 
			class="form-control" 
			id="maxPosition" name="maxPosition"
			[(ngModel)]="album.maxPosition"
			#maxPosition="ngModel" 
			required pattern="[0-9]*"
			[min-value-to-validate]="album.minPosition">
		<div [hidden]="maxPosition.valid || maxPosition.pristine" class="alert alert-danger" *ngIf="maxPosition.errors && maxPosition.errors.required">
			Max Sticker Position field is required
		</div>
		<div [hidden]="maxPosition.valid || maxPosition.pristine" class="alert alert-danger" *ngIf="maxPosition.errors && maxPosition.errors.pattern">
			Max Sticker Position value must be numeric
		</div>
		<div [hidden]="maxPosition.valid || maxPosition.pristine" class="alert alert-danger" *ngIf="maxPosition.errors && maxPosition.errors.textNotGreaterThan && !maxPosition.errors.pattern">
			Max greater than min was expected
		</div>
	</div>

	<button type="submit" class="btn btn-success" [disabled]="!albumForm.form.valid || !canAdd"><span *ngIf="!isEditing">To Add</span><span *ngIf="isEditing">Update</span></button>
	<button type="button" class="btn btn-danger" (click)="newAlbum(); albumForm.reset()">Revert</button>
</form>